@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  transition: .5s;
}

body {
  background-color: #f8f8ff;
}

a {
  text-decoration: none;
}
